:root {
  --main-bg-color: #222;
  --primary-color: #e91e63;
  --secondary-color: #61dafb;
  --tertiary-color: #41b883;
  --main-font-color: #ffeb3b;
  --second-font-color: #fcfcfc;
  --tertiary-font-color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; // this is equal to 10px and 1rem || 10px divided by 16px(defaut) is equal 0.625
}

body {
  font-family: "Nunito", sans-serif;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--main-bg-color);
}

.first-menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
    padding: 10px 15px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: var(--main-font-color);
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.5s ease-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: var(--main-font-color);
      transform: scaleX(0);
      transform-origin: right;
      transition: all 0.5s ease-out;
    }

    &:hover::before,
    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.second-menu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

  &__link {
    color: var(--primary-color);
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin: 0rem 1rem;
    position: relative;
    transition: all 0.5s;

    &:hover {
      background-color: var(--primary-color);
      color: var(--second-font-color);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 1.2rem;
      left: 1.2rem;
      width: 1.2rem;
      height: 1.2rem;
      border: 0.3rem solid var(--primary-color);
      border-width: 0 0 0.3rem 0.3rem;
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    &:hover::before {
      opacity: 1;
      bottom: -0.8rem;
      left: -0.8rem;
    }
    &:hover::after {
      opacity: 1;
      top: -0.8rem;
      right: -0.8rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      width: 1.2rem;
      height: 1.2rem;
      border: 0.3rem solid var(--primary-color);
      border-width: 0.3rem 0.3rem 0 0;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  }
}

.third-menu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

  &__link {
    display: block;
    font-size: 1.6rem;
    width: 12rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: var(--secondary-color);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease-out;

    span {
      position: absolute;
      width: 25%;
      height: 100%;
      background-color: var(--secondary-color);
      z-index: -1;
      left: 0;
      top: 0;
      transform: scaleY(0);
      transition: all 0.5s;
      transform-origin: top;
    }
    span:nth-child(2) {
      left: 25%;
      transition-delay: 0.15s;
    }
    span:nth-child(3) {
      left: 50%;
      transition-delay: 0.3s;
    }
    span:nth-child(4) {
      transition-delay: 0.45s;
      left: 75%;
    }

    &:hover {
      color: var(--tertiary-font-color);
    }

    &:hover span {
      transform: scaleY(1);
    }
  }
}

.fourth-menu {
  display: flex;

  &__item {
    list-style-type: none;
  }
  &__link {
    font-size: 1.6rem;
    position: relative;
    display: block;
    padding: 1.5rem 3rem;
    margin: 0 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--tertiary-color);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 0.2rem solid var(--tertiary-color);
      border-left: 0.2rem solid var(--tertiary-color);
      transition: all 0.5s;
      box-sizing: border-box;
      transform-origin: left;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-bottom: 0.2rem solid var(--tertiary-color);
      border-right: 0.2rem solid var(--tertiary-color);
      transition: all 0.5s;
      box-sizing: border-box;
      transform-origin: right;
    }

    &:hover::before,
    &:hover::after {
      width: 1.5rem;
      height: 1.5rem;
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 900px) {
  * {
    font-size: 40%;
  }
}
